*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;

}

/* -------------------------------------------------------------------------- */
/*                                  Cabecera                                  */
/* -------------------------------------------------------------------------- */
header{
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d85300;

}


header ul{
    width: auto;
    height: auto;
    padding: 0px;

    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header li{
    width: auto;
    height: auto;

    padding: 20px 10px;

    font-weight: bold;
    font-size: large;
}

header img{
    width: auto;
    height: 50px;

    margin: 4px 0px 0px 4px; /* para comprensar el margen automaticos que se produce */
}

/** Para el carrito se cambia el tamaño dle padding y al pasar por encima se cambia el fondo */
header ul li:last-child{
    padding: 5px 10px ;
}

header ul li img:last-child{
    height: 35px;
}

/* header ul li:last-child:hover:not(.categorias li:last-child){
    background-color: #d85300;
} */

/* ?Enlaces del header */
header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    /* Al posicionarse sobre el menu se cambiara el color de la letra */
    color: #d85300;
}

.carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}
.num{
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: #d85300;
}

.num2{
    border: 1px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #d85300;
    background-color: white;
}

.num p, .num2 p{
    margin: 0 !important;
    padding: 0 !important;
}

/* --------------------------------- Submenu -------------------------------- */
.categorias{
    background-color: #d85300;
    display:none; /*! Inicialmente oculto */
    position: absolute;
}
.categorias ul{
    background-color: red;
}
.categorias li{
    background-color: #d85300 ;
    color: white;

    width: auto;
    height: auto;

    padding: 15px 20px;
    border: solid 3px #d85300;

    font-weight: bold;
    
}
.categorias li a{
    color: white;
}
/*? Posicionarnos osbre cada li se cambia el color */
.categorias li:hover{
    background-color: white;
    /* Borde que resalte */
    border: solid 3px #d85300;
}
.categorias li:hover a{
    color: #d85300;
}
/* Ajustamos el tamaño del ultimo li de categorias, porque coge las caracteristicas dle menu principal */
.categorias li:last-child{
    padding: 15px 20px;
}

/**Mostrar submenu cuando el raton se posiciones sobre categorias en el menu principal */
ul > li:hover ul.categorias{
    display:block;
}

/* -------------------------------------------------------------------------- */
/*                      Contenedor de imagenes aleatorias                     */
/* -------------------------------------------------------------------------- */
.contenedor-imagenes{
    width: 90%;
    min-height: 85vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contenedor-img{
    width: 60%;
    margin: auto;
    padding: 10px 0;
}

.contenedor-img img{
    width: 70%;
    max-height: 60%;
    object-fit: cover; /* Ajusta la imagen sin distorsión */
}

.contenedor-info{
    width: 35%;
}

.contenedor-info h1{
    color: #d85300;
}

.contenedor-info p , h1{
    margin-bottom: 20px;
    padding: 20px;
}


/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 5vh;

    background-color: #d85300;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.footerIndex{
    border-top: 1px solid #d85300;
    background-color: white;
    color: black;
}

/* ------------------------- Opciones Area Personal ------------------------- */
#mainAreaPersonal{
    padding: 10px;
}
.opcionesArea{
    width: 100%;
    height: auto;
    background-color: transparent;

    padding: 20px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.botonesAreaPersonal,
.botonVerMas{
    width: auto;
    min-width: 160px;
    height: auto;
    background-color: #d85300;
    color: white;
    border: solid 1px #d85300;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 20px;
}

.infoPersonal,
.infoContactoUsuario,
.infoUsuarioAplicacion{
    margin: 10px 0px;
}

.infoPersonal,
.infoUsuarioAplicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContactoUsuario p{
    margin: 5px 0px;
}

/* Colores de fondo de los apartados, se va disminuyendo la transpariencia*/
.infoPersonal{
    background-color: rgba(226, 226, 226, 0.9);
}
.infoContactoUsuario{
    background-color: rgba(226, 226, 226, 0.6);
}
.infoUsuarioAplicacion{
    background-color: rgba(226, 226, 226, 0.35);
}
