
body{
    background-color: #3D3D3D;
    color: white;

    display: flex;
    align-items: center;
}

.contenedor{
    /* contenedor auto de tamaño */
    width: auto;
    height: auto;
    
    /* Centro el contenedor de login al medio de la pagina */
    margin: 10vw auto;

    background-color: #d85300;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.contenedor #icono-login{
    margin: 20px;
}

.contenedor label{
    margin: 5px;
}

.contenedor label img{
    margin: 0px 5px;
}

.contenedor input{
    margin: 5% 0px;
}

.contenedor input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

/* Contenedor log out aviso de sesion iniciada */
.contenedor h1{
    font-size: medium;
    text-align: center;
    margin: 0px 10px;
}

/* ? Contenedor de registro nuevo */
.registrarse{
    font-size: medium;
}
.registrarse > p > a{
    text-decoration: none;
    color: white;
    margin: 0px 5px;
}

/* -------------------- colocamos label e inputs en linea y aplicamos estilos diferentes ------------------- */
.inputs{
    margin: 20px 0px;
    display: flex;
}
.inputs input{
    background-color: transparent;
    color: white;
    border: none;

    border-bottom: solid white 1px;
}
.inputs input:focus{
    background-color: white;
    color: black;
}
/*? Boton enviar (formulario login y log out) */
#enviar{
    width: 90%;
    height: 30px;

    margin: 0px 5% 10px 5%;
    
    border: solid #3D3D3D 2px;
    border-radius: 8px;

}
#logout{
    width: 170px;
    height: 30px;

    margin: 0px;
    
    border: solid #3D3D3D 2px;
    border-radius: 8px;
}

/* -------------------------- Contenedor de errores ------------------------- */
.erroresContenedor{
    width: auto;
    height: 30px;
    background-color: transparent;
    color: rgb(22, 19, 19);
    font-weight: bold;
    font-size: large;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                   Log Out                                  */
/* -------------------------------------------------------------------------- */

#logoutForm{
    margin: 10vw auto;
}
/* Contenedor de fecla de volver al inicio */
.volverInicio{
    width: auto;
    height: auto;

    position: fixed;
    top: 10%;
    left: 5%;
}
/* Boton de fecha atrás se quitan los estilos y ajusta tamaño al contenedor */
.flechaVolver{
    width: auto;
    height: auto;

    background-color: transparent;
    border: none;
}


/*todo ------------ REGISTRO --------------*/
.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto; 
    padding: 10px; 
    /* Centro el contenedor de login al medio de la pagina */
    margin: 10vw auto;
    background-color: #d85300;
    border-radius: 8px;
}

.contenedor2 form{
    width: 300px;
}

.contenedor2 form img{
    margin-left: 10px;
}

.contenedor2 input::placeholder , textarea::placeholder{
    color: white;
}

.contenedor2 #icono-login{
    width: 40%;
}

.inputs2{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.inputs2 input, textarea{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid white 1px;
    width: 55%;
}

.labelRegistro{
    margin-right: 87px;
}

.selectRegistro{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid white 1px;
    width: 55%;
}

.selectRegistro option{
    color: black;
}

.inputs2 input:focus{
    background-color: white;
    color: black;
}
