/* Estilos del archivo de carrito,  */

*{
    margin: 0px;
    padding: 0px;
}

/* ---------------------------- Header fondo naranja ---------------------------- */
header{
    width: 100%;
    height: auto;

    background-color:#d85300;

}
header ul{
    width: auto;
    height: auto;
    background-color:#d85300;

}

header ul li a{
    color: white;
    padding: 20px 30px;
}
header ul li a:hover{
    color: black;

}

header > img{
    width: auto;
    height: 50px;
    /* Padding de 6px para ajustar al contenedor */
    padding: 6px;
}

/*? Titulo carrito */
.contenedor-info p, h1{
    padding: 10px;
}

/* ---------------------- Contenedor principal del main --------------------- */

main#carrito{
    width: 100%;
    height: auto;
    min-height: 90vh;
    max-width: 100vw;

    /*! Poner grid y ordenar columnas */
    display: grid;
    grid-template-areas: "productos direcciones";
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 90vh; */

}

/* -------------- contenedor de productos guardados en el carrito -------------- */
#productos-carrito{
    grid-area: productos;
    width: auto;
    height: auto;
    max-width: 85vw;

    background-color: #eff1f3;

    table-layout: auto;

    /* padding: 5px; */
}

/* --------------------------- tabla de productos --------------------------- */
table{
    width: auto;
    width: auto;
    margin-left: 10px;

    border-collapse: collapse; /* quitar borde doble */
}
/*? se distribuye el tamaño de las filas */
#productos-carrito th, #productos-carrito td {
    padding: 5px;
    border: solid 1px white;
}

/* Segunda fila del nombre dle producto va a tener un tamaño minimo */
#productos-carrito th:nth-child(2),
#productos-carrito td:nth-child(2) {
    min-width: 550px; 
    max-width: 650px;
    border-left: none; /* une con la foto */
}

/* Borramos linea que une con la foto */
#productos-carrito th:nth-child(1),
#productos-carrito td:nth-child(1) {
    border-right: none; /* une con la foto */
}

/* columnas precio y cantidad poner en medio el contendio */
#productos-carrito td:nth-child(3),
#productos-carrito td:nth-child(4){
    text-align: center;
    background-color: transparent;


    padding: auto 10px;
}
/* minimo tamaño para las columnas de precio y cantidad */
#productos-carrito th:nth-child(3),
#productos-carrito th:nth-child(4),
#productos-carrito td:nth-child(3),
#productos-carrito td:nth-child(4){
    min-width: 70px;
    max-width: 100px;
}

/* Precio si hay decsuento */
.descuentoAplicado {
    color: green;
    font-weight: bold;
}

/* ------------------- imagen del prodducto en el carrito ------------------- */
#imagenProductoCarrito{
    width: 120px;
    height: auto;
}


/* ---------- Contenedor de las direcciones de envio y facturación ---------- */
#infoEnvio{
    grid-area: direcciones;
    width: auto;
    height: auto;

    padding: 0px 10px 0px 20px;

}
/*? Estilos de los titulos de direcciones */
#infoEnvio .dir-envio,
#infoEnvio .dir-facturacion{
    margin: 5px 0px 10px 0px;
    border-left: solid 3px #d85300;
    padding-left: 5px;
}

/* ? Saldo y puntos */
.saldo{
    margin-top: 15px;
    border-top: dashed 1px #d85300;
}
.saldo h4{
    margin-top: 10px;
}

/*? Precio total contenedor */

.precioTotal{
    margin-top: 20px;
    border-top: dashed 1px #d85300;
}
.precioTotal h4{
    margin-top: 15px;
}

/*? Botón de Tramitar pedido */
.botonTramitar{
    width: 100%;
    height: auto;
    background-color: #d85300;
    color: white;
    border: solid 1px #d85300;
    border-radius: 20px;
    padding: 10px 20px;

    margin: 70px 0px 0px 0px;
}



/*? Contenedor de errores de saldo */
.contenedorErrorSaldo{
    width: 100%;
    height: auto;
    color: red;
    font-weight: bolder;
    margin: 15px 0px 0px 0px;
}

#botonRecargar{
    width: 100%;
    height: auto;
    background-color: red;
    color: white;
    border: solid 1px red;
    border-radius: 20px;
    padding: 10px 20px;

    /* margin: 35vh 0px 0px 0px; */
}

/* ------------------------- estilos envio pago.php ------------------------- */
#contenedor-pago{
    width: 100%;
    /* height: 90%; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

}
#contenedor-pago h1{
    width: 100%;
    margin: 20px 0px 0px 0px;
    text-align: center;
}
.datosResumenEnvio,
.datosResumenPersonales{
    width: 40%;
    margin: 4%;
    padding: 10px 0px 10px 10px;
}
.datosResumenEnvio{
    border: solid 1px lightgray;
    border-radius: 20px;
}
.datosResumenPersonales{
    border: solid 1px lightgray;
    border-radius: 20px;
}

/* volver atras una vez se ha relizado el pedido */
.volverInicio{
    width: auto;
    height: auto;

    position: fixed;
    top: 5%;
    left: 5%;
}

.flechaVolver{
    width: auto;
    height: auto;

    background-color: transparent;
    border: none;
}