body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Encabezado */
/* ---------------------------- Header con logoi -----------Irene-----------*/
header{
    background-color:#d85300;
}

header ul{
    width: auto;
    height: auto;
    background-color:#d85300;

}

header ul li a{
    color: white;
}
header ul li a:hover{
    color: black;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 0 100px 20px 100px;
}

.product {
    background: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color:#d85300;
}

.product-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #bbb;
}

.product-info button {
    width: 100%;
    margin-top: 10px;
    background-color:#d85300;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.product-info button:hover {
    background: #ff7d27;
}

.tituloCat{
    text-align: center;
    color: #ff4500;
}

.pvpBefore{
    color: rgb(15, 176, 15)!important;/*pongo important para que pise el color de otra clase*/
    font-size: 1.1em!important;
}

.pvpAfter{
    color: #424141!important;/*pongo important para que pise el color de otra clase*/
}

/* Responsividad */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        gap: 10px;
    }
}

/*Producto.php*/

.contProd{
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    margin: auto;
}

.imgprod{
    width: 90%;
    margin-top: 20px;
    background-color: #121212;
    display: flex;
    justify-content: space-around;
}

.imgprod img{
    width: 20%;
}

.nomProd{
    margin-top: 20px;
    color:#d85300;
}

.datosProd{
    margin: 30px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.datosProd1{
    width: 25%;
}

.datosProd1 h3{
    text-align: center;
    color:#d85300;
}

.datosProd1 h3 , p{
    margin-top: 10px;

}
.datosProd1 form{
    margin-top: 15px;
}

.comprar{
    margin-left: 10px;
    width: 40%;
    background-color:#d85300;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.comprar:hover {
background: #ff7d27;
}

.datosProd1 select{
    font-size: 1.1em;
    font-weight: bolder;
    width: 15%;
    height: 25px;
    /* transform: scale(1.5); */
}

.datosProd1 label{
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bolder;
    color:#d85300;
}

#botonLogueate{
    margin-left: 10px;
    width: 40%;
    background-color:#d85300;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#botonLogueate:hover {
    background: #ff7d27;
}